.sdlc-container.position-relative
  .sdlc-description
    %h2
      = link_to "200% Faster DevOps Lifecycle", "/concurrent-devops"
    %p From project planning and source code management to CI/CD and monitoring, GitLab is a single application for the complete DevOps lifecycle.
  %img.sdlc-image{ src: "/images/home/sdl-single-application.png" }
  .table-container
    %p.table-label.single-application-label GitLab is a single application for the complete DevOps lifecycle.
    %p.table-label.separate-application-label GitLab replaces

    %table.sdlc-table
      %tr
        - data.sdlc.each do |phase|
          %td.phase-container
            = partial "/includes/icons/sdlc-icons/#{phase.phase.downcase}.svg"
            %p #{phase.phase}
            
      %tr.single-application-row
        - data.sdlc.each do |phase|
          %td.solutions-container
            %img.gitlab-logo{ src: "/images/comparison/gitlab-logo.svg" }
            - phase.solutions.each do |solution|
              %p #{solution}

      %tr.separate-application-row
        - data.sdlc.each do |phase|
          %td.logo-container
            - phase.competitor.each do |competitor|
              %img.competitor-logo{ src: "#{competitor.logo}", alt: "#{competitor.name} logo png" }


